html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #333333;
}

.content-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around
}

img {
  min-width: 400px;
  margin: 15px 0;
}