html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #333333;
}

.content-wrapper {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around
}

img {
  min-width: 400px;
  width: 400px;
  min-height: 400px;
  height: 400px;
  margin: 15px 0;
}